In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sb
import requests

In [28]:
df = pd.read_json('../data/nuts-data.json', orient='records')
df

,code,region,2015,2016,2017,2018,2019
0,AT11,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...
210,TR72,"Kayseri, Sivas, Yozgat",9.4,8.4,11.4,12.8,14.4
211,TR81,"Zonguldak, Karabük, Bartin",7.0,9.0,7.3,8.4,9.9
212,TR82,"Kastamonu, Çankiri, Sinop",6.9,6.0,4.9,5.2,7.7
213,TR83,"Samsun, Tokat, Çorum, Amasya",6.8,8.3,7.0,6.7,8.5
214,TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",5.0,4.7,3.6,6.2,10.3

In [3]:
# hozzá szeretném előszöris rakni a régió teljes lakosságát, majd az aktív lakosságot, hogy képes legyek
# összehasonlításokat végezni

In [29]:
# átnevezzük a munkanélküliségi rátákat tartalmazó oszlopokat e_<ev> sémára
year = 2015

for i in range(0, 5):
    df = df.rename(columns={'{}'.format(year): 'e_{}'.format(year)})
    
    year = year + 1
    
df

,code,region,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...
210,TR72,"Kayseri, Sivas, Yozgat",9.4,8.4,11.4,12.8,14.4
211,TR81,"Zonguldak, Karabük, Bartin",7.0,9.0,7.3,8.4,9.9
212,TR82,"Kastamonu, Çankiri, Sinop",6.9,6.0,4.9,5.2,7.7
213,TR83,"Samsun, Tokat, Çorum, Amasya",6.8,8.3,7.0,6.7,8.5
214,TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",5.0,4.7,3.6,6.2,10.3

In [31]:
# hozzáadjuk az új p_<ev> oszlopokat, amelyek tartalmazni fogják a teljes lakossági adatokat

year = 2015

for i in range(0, 5):
    df.insert(loc=(i + 1), column='p_{}'.format(year), value=np.nan)
    
    year = year + 1
    
df

,code,p_2015,p_2016,p_2017,p_2018,p_2019,region,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,NaN,NaN,NaN,NaN,NaN,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
1,AT12,NaN,NaN,NaN,NaN,NaN,Niederösterreich,5.0,4.9,4.7,3.6,3.8
2,AT13,NaN,NaN,NaN,NaN,NaN,Wien,10.4,11.0,10.1,9.7,9.0
3,AT21,NaN,NaN,NaN,NaN,NaN,Kärnten,6.0,5.2,4.7,4.1,3.7
4,AT22,NaN,NaN,NaN,NaN,NaN,Steiermark,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...
210,TR72,NaN,NaN,NaN,NaN,NaN,"Kayseri, Sivas, Yozgat",9.4,8.4,11.4,12.8,14.4
211,TR81,NaN,NaN,NaN,NaN,NaN,"Zonguldak, Karabük, Bartin",7.0,9.0,7.3,8.4,9.9
212,TR82,NaN,NaN,NaN,NaN,NaN,"Kastamonu, Çankiri, Sinop",6.9,6.0,4.9,5.2,7.7
213,TR83,NaN,NaN,NaN,NaN,NaN,"Samsun, Tokat, Çorum, Amasya",6.8,8.3,7.0,6.7,8.5
214,TR90,NaN,NaN,NaN,NaN,NaN,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",5.0,4.7,3.6,6.2,10.3

In [32]:
# hozzáadjuk az új a_<ev> oszlopokat, amely az aktív lakosság adatait fogja tartalmazni

year = 2015

for i in range(0, 5):
    df.insert(loc=(i + 1), column='a_{}'.format(year), value=np.nan)
    
    year = year + 1
    
df

,code,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,region,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
1,AT12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Niederösterreich,5.0,4.9,4.7,3.6,3.8
2,AT13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wien,10.4,11.0,10.1,9.7,9.0
3,AT21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kärnten,6.0,5.2,4.7,4.1,3.7
4,AT22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Steiermark,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,TR72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kayseri, Sivas, Yozgat",9.4,8.4,11.4,12.8,14.4
211,TR81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Zonguldak, Karabük, Bartin",7.0,9.0,7.3,8.4,9.9
212,TR82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kastamonu, Çankiri, Sinop",6.9,6.0,4.9,5.2,7.7
213,TR83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Samsun, Tokat, Çorum, Amasya",6.8,8.3,7.0,6.7,8.5
214,TR90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",5.0,4.7,3.6,6.2,10.3

In [42]:
# átrendezzük az oszlopok sorrendjét, code-region-adatok-ra

cols = df.columns.tolist()
cols = cols[1:11] + cols[12:]
cols.insert(0, 'code')
cols.insert(1, 'region')
cols

df = df[cols]

In [58]:
response = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time=2019&geo=AT11&wstatus=ACT&citizen=TOTAL')

In [59]:
response.json()

{'version': '2.0',
 'label': 'Population by sex, age, citizenship, labour status and NUTS 2 regions',
 'href': 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time=2019&geo=AT11&wstatus=ACT&citizen=TOTAL',
 'source': 'Eurostat',
 'updated': '2020-06-11',
 'extension': {'datasetId': 'lfst_r_lfsd2pwn',
  'lang': 'EN',
  'description': None,
  'subTitle': None},
 'class': 'dataset',
 'value': {'0': 136.8},
 'dimension': {'unit': {'label': 'unit',
   'category': {'index': {'THS': 0}, 'label': {'THS': 'Thousand'}}},
  'wstatus': {'label': 'wstatus',
   'category': {'index': {'ACT': 0}, 'label': {'ACT': 'Active persons'}}},
  'citizen': {'label': 'citizen',
   'category': {'index': {'TOTAL': 0}, 'label': {'TOTAL': 'Total'}}},
  'sex': {'label': 'sex',
   'category': {'index': {'T': 0}, 'label': {'T': 'Total'}}},
  'age': {'label': 'age',
   'category': {'index': {'Y20-64': 0},
    'label': {'Y20-64': 'From 20 to 64 years'}}},
  'geo': {'label': 'geo',
   'category': {'index': {'AT11': 0}, 'label': {'AT11': 'Burgenland (AT)'}}},
  'time': {'label': 'time',
   'category': {'index': {'2019': 0}, 'label': {'2019': '2019'}}}},
 'id': ['unit', 'wstatus', 'citizen', 'sex', 'age', 'geo', 'time'],
 'size': [1, 1, 1, 1, 1, 1, 1]}

In [46]:
df_code_index = df.set_index('code')

In [47]:
codes = df_code_index.index.values # lekérjük a NUTS2 regiókódokat

In [54]:
# megszerezzük a teljes lakosságra szóló adatokat, és behelyezzük a dataframe-ünkbe

year = 2015

for i in range(0, 5):
    for c in codes:
        resp = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=POP&citizen=TOTAL'.format(year, c))
        df_code_index.loc[c, 'p_{}'.format(year)] = resp.json()['value']['0']
    
    year = year + 1
    
df_code_index

,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
code,,,,,,,,,,,,,,,,
AT11,Burgenland (AT),NaN,NaN,NaN,NaN,NaN,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
AT12,Niederösterreich,NaN,NaN,NaN,NaN,NaN,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
AT13,Wien,NaN,NaN,NaN,NaN,NaN,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
AT21,Kärnten,NaN,NaN,NaN,NaN,NaN,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
AT22,Steiermark,NaN,NaN,NaN,NaN,NaN,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR72,"Kayseri, Sivas, Yozgat",NaN,NaN,NaN,NaN,NaN,1346.2,1340.9,1354.0,1389.4,1401.8,9.4,8.4,11.4,12.8,14.4
TR81,"Zonguldak, Karabük, Bartin",NaN,NaN,NaN,NaN,NaN,616.6,613.4,626.5,622.1,637.3,7.0,9.0,7.3,8.4,9.9
TR82,"Kastamonu, Çankiri, Sinop",NaN,NaN,NaN,NaN,NaN,409.8,411.6,423.5,426.5,440.8,6.9,6.0,4.9,5.2,7.7
TR83,"Samsun, Tokat, Çorum, Amasya",NaN,NaN,NaN,NaN,NaN,1552.9,1530.9,1563.6,1577.5,1599.9,6.8,8.3,7.0,6.7,8.5
TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",NaN,NaN,NaN,NaN,NaN,1486.5,1498.8,1523.6,1515.9,1526.2,5.0,4.7,3.6,6.2,10.3

In [60]:
# megszerezzük az aktív lakosságra szóló adatokat, és behelyezzük a dataframe-ünkbe

year = 2015

for i in range(0, 5):
    for c in codes:
        resp = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=ACT&citizen=TOTAL'.format(year, c))
        df_code_index.loc[c, 'a_{}'.format(year)] = resp.json()['value']['0']
    
    year = year + 1
    
df_code_index

,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
code,,,,,,,,,,,,,,,,
AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR72,"Kayseri, Sivas, Yozgat",778.8,784.5,790.8,795.9,794.0,1346.2,1340.9,1354.0,1389.4,1401.8,9.4,8.4,11.4,12.8,14.4
TR81,"Zonguldak, Karabük, Bartin",370.9,364.4,371.1,370.7,384.3,616.6,613.4,626.5,622.1,637.3,7.0,9.0,7.3,8.4,9.9
TR82,"Kastamonu, Çankiri, Sinop",270.6,284.4,290.1,291.1,287.5,409.8,411.6,423.5,426.5,440.8,6.9,6.0,4.9,5.2,7.7
TR83,"Samsun, Tokat, Çorum, Amasya",939.4,957.9,980.9,1040.7,1024.3,1552.9,1530.9,1563.6,1577.5,1599.9,6.8,8.3,7.0,6.7,8.5
TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",970.9,987.7,1016.5,1018.4,1060.2,1486.5,1498.8,1523.6,1515.9,1526.2,5.0,4.7,3.6,6.2,10.3

In [61]:
# általánosságban elmondható, hogy az e = munkanélküliek száma / aktív lakosság számával
# a high-low tooltip rész alatt, azt értem, hogy lesz egy olyan event, amikoris rászviszem az egeret
# az adott ország területére, és a tooltip-ban kiírja, hogy 
# átlagviszonylatban magas vagy alacsony-e az aktív lakosság/teljes lakosság

In [62]:
df = df_code_index.reset_index()
df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,TR72,"Kayseri, Sivas, Yozgat",778.8,784.5,790.8,795.9,794.0,1346.2,1340.9,1354.0,1389.4,1401.8,9.4,8.4,11.4,12.8,14.4
211,TR81,"Zonguldak, Karabük, Bartin",370.9,364.4,371.1,370.7,384.3,616.6,613.4,626.5,622.1,637.3,7.0,9.0,7.3,8.4,9.9
212,TR82,"Kastamonu, Çankiri, Sinop",270.6,284.4,290.1,291.1,287.5,409.8,411.6,423.5,426.5,440.8,6.9,6.0,4.9,5.2,7.7
213,TR83,"Samsun, Tokat, Çorum, Amasya",939.4,957.9,980.9,1040.7,1024.3,1552.9,1530.9,1563.6,1577.5,1599.9,6.8,8.3,7.0,6.7,8.5
214,TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",970.9,987.7,1016.5,1018.4,1060.2,1486.5,1498.8,1523.6,1515.9,1526.2,5.0,4.7,3.6,6.2,10.3

In [64]:
df.to_json('../data/nuts-data.json', orient='records')

In [65]:
df.describe()

,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,214.000000,214.000000,214.000000
mean,1519.253023,1529.411163,1537.333953,1542.716279,1549.163721,1999.065581,2001.419070,2001.251163,1998.609767,1999.975814,9.717209,8.862326,7.868224,7.060280,6.709346
std,10544.275227,10616.439886,10634.535257,10658.299169,10694.778417,13667.134497,13689.531239,13667.491402,13639.108232,13641.693312,6.725974,6.296478,5.831936,5.482389,5.239334
min,34.800000,35.500000,36.000000,37.800000,37.100000,48.000000,49.600000,50.400000,50.300000,49.300000,2.500000,2.100000,1.700000,1.300000,1.300000
25%,384.150000,383.550000,387.550000,386.850000,384.900000,491.600000,490.800000,489.150000,492.700000,497.250000,5.050000,4.600000,4.025000,3.225000,3.000000
50%,637.700000,637.000000,649.700000,648.600000,655.200000,839.300000,830.900000,822.200000,813.900000,814.600000,7.200000,6.700000,5.700000,5.100000,4.650000
75%,992.700000,988.600000,981.550000,1003.450000,1010.050000,1334.900000,1333.900000,1326.350000,1326.900000,1318.600000,12.400000,11.150000,10.475000,8.925000,8.750000
max,155031.400000,156084.000000,156348.100000,156693.600000,157228.900000,200910.200000,201227.700000,200900.700000,200471.700000,200504.200000,33.200000,31.200000,29.600000,28.800000,26.100000

In [66]:
df_code_index = df.set_index('code')
df_code_index

,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
code,,,,,,,,,,,,,,,,
AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR72,"Kayseri, Sivas, Yozgat",778.8,784.5,790.8,795.9,794.0,1346.2,1340.9,1354.0,1389.4,1401.8,9.4,8.4,11.4,12.8,14.4
TR81,"Zonguldak, Karabük, Bartin",370.9,364.4,371.1,370.7,384.3,616.6,613.4,626.5,622.1,637.3,7.0,9.0,7.3,8.4,9.9
TR82,"Kastamonu, Çankiri, Sinop",270.6,284.4,290.1,291.1,287.5,409.8,411.6,423.5,426.5,440.8,6.9,6.0,4.9,5.2,7.7
TR83,"Samsun, Tokat, Çorum, Amasya",939.4,957.9,980.9,1040.7,1024.3,1552.9,1530.9,1563.6,1577.5,1599.9,6.8,8.3,7.0,6.7,8.5
TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",970.9,987.7,1016.5,1018.4,1060.2,1486.5,1498.8,1523.6,1515.9,1526.2,5.0,4.7,3.6,6.2,10.3

In [67]:
df_code_index.to_json('../data/nuts-data-alt.json', orient='index')