In [2]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import requests

In [3]:
# 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/
# nama_10_gdp?geo=EU28&precision=1&na_item=B1GQ&unit=CP_MEUR&time=2018&time=2019')
# <tablazat_nev>?geo=<terulet_filter>&<kulonbozo_filterek>&time=<idoszak>

In [197]:
# egy algoritmus, amely megszerzi az adatokat az EUROSTAT API-ról, 2015-től 2019-ig

data = {}
year = 2015

for i in range(5):
    response = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfu3rt?unit=PC&age=Y20-64&sex=T&time=' + str(year))
    json = response.json()
    
    geo_values = json['dimension']['geo']
    cell_values = json['value']
    
    for t in geo_values['category']['index']:
        label = t
        key = str(geo_values['category']['index'][t])
        nuts = geo_values['category']['label'][t]
        
        if key in cell_values:
            if not t in data:
                data[t] = {'region': nuts, str(year): cell_values[key]}
            else:
                data[t][str(year)] = cell_values[key]
    
    year = year + 1

In [198]:
df = pd.DataFrame(data)
df = df.T

df.set_index(pd.Index(np.arange(0, len(data))))
df.reset_index(inplace=True)
df.rename(columns={'index': 'code'}, inplace=True)

In [200]:
import re

In [201]:
df = df.set_index(['code'])

                     region  2015 2016  2017 2018 2019
code
AT                  Austria   5.6  5.8   5.3  4.7  4.3
AT1           Ostösterreich   7.6    8   7.3  6.6  6.4
AT11        Burgenland (AT)   5.1  5.5   4.9    4  3.6
AT12       Niederösterreich     5  4.9   4.7  3.6  3.8
AT13                   Wien  10.4   11  10.1  9.7    9
...                     ...   ...  ...   ...  ...  ...
UKM7       Eastern Scotland   4.9    4   3.4  3.4  3.1
UKM8  West Central Scotland   6.5  4.9     4  4.6  4.4
UKM9      Southern Scotland   5.2  5.8   3.9  2.8    3
UKN   Northern Ireland (UK)   5.8  5.2   4.5  3.6  2.4
UKN0  Northern Ireland (UK)   5.8  5.2   4.5  3.6  2.4

[488 rows x 6 columns]

In [202]:
# elvetjük mindazon sorokat, amely kódjában nincsen szám, azok NUTS1 régiók általában, nekünk arra nincs szükségünk

indices = df.index.values

for i in indices:
    if re.search('\D$', i):
        df.drop(i, inplace=True)
        
df

                     region  2015 2016  2017 2018 2019
code
AT1           Ostösterreich   7.6    8   7.3  6.6  6.4
AT11        Burgenland (AT)   5.1  5.5   4.9    4  3.6
AT12       Niederösterreich     5  4.9   4.7  3.6  3.8
AT13                   Wien  10.4   11  10.1  9.7    9
AT2           Südösterreich     5    5   4.4    4  3.3
...                     ...   ...  ...   ...  ...  ...
UKM6  Highlands and Islands   2.3  3.7   2.1    2  NaN
UKM7       Eastern Scotland   4.9    4   3.4  3.4  3.1
UKM8  West Central Scotland   6.5  4.9     4  4.6  4.4
UKM9      Southern Scotland   5.2  5.8   3.9  2.8    3
UKN0  Northern Ireland (UK)   5.8  5.2   4.5  3.6  2.4

[410 rows x 6 columns]

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, AT1 to UKN0
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  410 non-null    object
 1   2015    410 non-null    object
 2   2016    410 non-null    object
 3   2017    408 non-null    object
 4   2018    408 non-null    object
 5   2019    407 non-null    object
dtypes: object(6)
memory usage: 22.4+ KB

In [204]:
df[['2015', '2016', '2017', '2018', '2019']] = df[['2015', '2016', '2017', '2018', '2019']].where(df[['2015', '2016', '2017', '2018', '2019']].notnull(), np.nan)
df[['2015', '2016', '2017', '2018', '2019']] = df[['2015', '2016', '2017', '2018', '2019']].astype('float64')

In [205]:
df.reset_index(inplace=True)

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    410 non-null    object
 1   region  410 non-null    object
 2   2015    410 non-null    float64
 3   2016    410 non-null    float64
 4   2017    408 non-null    float64
 5   2018    408 non-null    float64
 6   2019    407 non-null    float64
dtypes: float64(5), object(2)
memory usage: 22.5+ KB

In [207]:
df = df[['code', 'region', '2015', '2016', '2017', '2018', '2019']]
df.to_json('nuts_data.json', orient='records')

In [208]:
df.describe(include=['object', 'float64'])

,code,region,2015,2016,2017,2018,2019
count,410,410,410.000000,410.000000,408.000000,408.000000,407.000000
unique,410,389,NaN,NaN,NaN,NaN,NaN
top,SK01,Luxembourg,NaN,NaN,NaN,NaN,NaN
freq,1,2,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,9.428780,8.744390,7.898284,7.217647,6.953563
std,NaN,NaN,6.333174,6.050834,5.683786,5.483832,5.374184
min,NaN,NaN,2.100000,2.100000,1.700000,1.300000,1.300000
25%,NaN,NaN,5.025000,4.600000,4.000000,3.400000,3.150000
50%,NaN,NaN,7.400000,6.800000,5.850000,5.250000,5.000000
75%,NaN,NaN,10.775000,10.925000,10.150000,8.825000,8.850000
max,NaN,NaN,33.200000,31.200000,29.600000,34.700000,29.900000

In [209]:
df[:50]

,code,region,2015,2016,2017,2018,2019
0,AT1,Ostösterreich,7.6,8.0,7.3,6.6,6.4
1,AT11,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
2,AT12,Niederösterreich,5.0,4.9,4.7,3.6,3.8
3,AT13,Wien,10.4,11.0,10.1,9.7,9.0
4,AT2,Südösterreich,5.0,5.0,4.4,4.0,3.3
5,AT21,Kärnten,6.0,5.2,4.7,4.1,3.7
6,AT22,Steiermark,4.6,4.9,4.3,4.0,3.1
7,AT3,Westösterreich,3.5,3.7,3.4,2.7,2.5
8,AT31,Oberösterreich,3.9,4.2,3.8,3.0,2.7
9,AT32,Salzburg,3.4,3.3,2.9,2.5,2.2
10,AT33,Tirol,3.0,3.3,3.1,2.2,1.9
11,AT34,Vorarlberg,3.4,3.2,3.3,3.2,3.0
12,BE1,Région de Bruxelles-Capitale / Brussels Hoofds...,17.3,16.8,14.9,13.1,12.5
13,BE10,Région de Bruxelles-Capitale / Brussels Hoofds...,17.3,16.8,14.9,13.1,12.5
14,BE2,Vlaams Gewest,5.0,4.7,4.2,3.2,3.0
15,BE21,Prov. Antwerpen,6.1,6.0,5.7,4.1,3.4
16,BE22,Prov. Limburg (BE),5.8,4.7,4.0,3.4,3.2
17,BE23,Prov. Oost-Vlaanderen,4.2,4.0,3.3,2.5,2.7
18,BE24,Prov. Vlaams-Brabant,5.0,4.6,4.5,3.5,3.4
19,BE25,Prov. West-Vlaanderen,4.1,3.6,3.1,2.5,2.4
20,BE3,Région wallonne,11.7,10.4,9.6,8.4,7.1
21,BE31,Prov. Brabant wallon,7.7,7.7,7.6,6.9,5.5
22,BE32,Prov. Hainaut,13.1,11.7,11.3,9.9,8.5
23,BE33,Prov. Liège,12.7,11.1,10.5,8.1,6.6
24,BE34,Prov. Luxembourg (BE),9.3,7.7,6.4,5.3,5.3
25,BE35,Prov. Namur,10.7,9.6,7.2,8.6,6.9
26,BG3,Severna i yugoiztochna Bulgaria,10.6,9.2,8.4,7.3,6.0
27,BG31,Severozapaden,11.9,10.7,11.3,11.0,10.6
28,BG32,Severen tsentralen,10.5,9.2,6.8,6.5,5.1
29,BG33,Severoiztochen,10.2,9.7,9.1,7.3,5.9
30,BG34,Yugoiztochen,10.2,7.9,6.9,5.4,4.0
31,BG4,Yugozapadna i yuzhna tsentralna Bulgaria,7.6,6.0,4.0,3.2,2.5
32,BG41,Yugozapaden,6.6,5.4,3.2,2.6,2.2
33,BG42,Yuzhen tsentralen,9.2,7.0,5.2,4.2,3.0
34,CH0,Schweiz/Suisse/Svizzera,4.7,4.8,4.8,4.7,4.3
35,CH01,Région lémanique,7.0,7.2,7.6,7.1,7.0
36,CH02,Espace Mittelland,4.3,4.4,4.2,4.4,3.7
37,CH03,Nordwestschweiz,4.0,5.0,4.5,4.3,3.6
38,CH04,Zürich,4.1,3.9,4.4,4.2,3.9
39,CH05,Ostschweiz,4.1,4.0,3.8,3.7,3.4
40,CH06,Zentralschweiz,3.4,3.4,3.0,2.9,2.6
41,CH07,Ticino,7.0,6.9,5.9,6.4,6.7
42,CY0,Kypros,14.9,12.9,11.1,8.4,7.0
43,CY00,Kypros,14.9,12.9,11.1,8.4,7.0
44,CZ0,Cesko,5.0,3.9,2.8,2.2,2.0
45,CZ01,Praha,2.8,2.2,1.7,1.3,1.3
46,CZ02,Strední Cechy,3.5,3.1,2.1,2.0,1.3
47,CZ03,Jihozápad,3.8,3.0,2.0,1.5,1.5
48,CZ04,Severozápad,7.1,5.2,3.2,3.3,2.9
49,CZ05,Severovýchod,5.1,4.0,2.7,1.9,1.7

In [194]:
# vannak név szerinti duplikátumok
# az egy számmal rendelkező kódokat elvethetjük, azok NUTS1

df = df.drop_duplicates(['region'], keep='last')

In [215]:
df = df.set_index('code')

In [219]:
indices = df.index.values

for i in indices:
    if not re.search('\d\d', i):
        df.drop(i, inplace=True)

In [221]:
df = df.reset_index()

In [225]:
df.describe(include='object')

        code              region
count    218                 218
unique   218                 218
top     SK01  Zachodniopomorskie
freq       1                   1

In [230]:
# elvetjük a három EU-s statisztikát
df = df.drop([104, 105, 106])

In [232]:
df

,code,region,2015,2016,2017,2018,2019
0,AT11,Burgenland (AT),5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...
213,TR72,"Kayseri, Sivas, Yozgat",9.4,8.4,11.4,12.8,14.4
214,TR81,"Zonguldak, Karabük, Bartin",7.0,9.0,7.3,8.4,9.9
215,TR82,"Kastamonu, Çankiri, Sinop",6.9,6.0,4.9,5.2,7.7
216,TR83,"Samsun, Tokat, Çorum, Amasya",6.8,8.3,7.0,6.7,8.5
217,TR90,"Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane",5.0,4.7,3.6,6.2,10.3

In [233]:
# ezzel végeztünk a tisztítással és scrapeléssel
df.to_json('nuts_data.json', orient='records')